@model IEnumerable<DIMVC.DbClasses.Product>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Photo</td>
        <td>price</td>
        <td>Shipping Cost</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.PhotoFileName</td>
            <td>@item.ProductPrice</td>
            <td>@item.ShippingPrice</td>
        </tr>
    }

</table>